* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
}
a {
  text-decoration: none;
  color: #000;
}

li {
  list-style: none;
}


body, button {
  font-family: 'Noto Sans Korean', sans-serif;
}
footer {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.chatWrap {
  position: absolute;
  bottom: 30px;
  right: 30px;
}
#chatting{
  display: none;
}
#chatting.on{
  display: block;
}
.chatWrap .faq{
  position: absolute;
  right:0;
  z-index: -1;
  background: #f1f1f1;
  width:340px;
  height: 100%;
  border-radius: 20px;
  transition: all 1s;
  box-shadow: rgba(81, 99, 120, 0.3) 0px 6px 60px 0px;
  padding: 20px;
  box-sizing: border-box;
}
.chatWrap .faq .wing{
  width:15px;
  text-align: center;
  color:#fff;
  height:30px;
  line-height: 28px;
  background: #2f2f2f;
  position: absolute;
  top:40px;
  left:-15px;
  z-index: 3;
  cursor: pointer;
  border-radius: 5px 0 0 5px;
}
.chatWrap .faq .wing i{
  display: none;
  height: 30px;
  line-height: 28px;
}
.chatWrap .faq .wing i.on{
  display: block;
}
.chatWrap .faq.on{
  width:680px;
}
.chatWrap .faq .faq_background{
  width:300px;
  border-radius: 10px;
  box-sizing: border-box;
  background: #fff;
  padding:10px 15px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px 0px, rgba(0, 0, 0, 0.01) 0px 0px 0px 1px;
}
.chatWrap .faq p.coment{
  width: 300px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px 0px, rgba(0, 0, 0, 0.01) 0px 0px 0px 1px;
  padding: 12px;
  box-sizing: border-box;
  border-radius: 5px;
  font-size: 13px;
  margin-bottom:20px;
  box-sizing: border-box;
  background: #fff;
}
.chatWrap .faq h4{
  font-size:15px;
  font-weight: 400;
  margin-bottom:11px;
}
.chatWrap .faq h4.p2{
  margin-top:20px;
}
.chatWrap .faq ul{
  width:270px;
}
.chatWrap .faq ul li{
  font-size:14px;
  margin:8px 0;
  cursor: pointer;
}
.chatWrap .faq ul.quick{
  text-align: center;
  box-sizing: border-box;
  margin-bottom:10px;
}
.chatWrap .faq ul.quick li{
  width:60px;
  height:60px;
  line-height: 60px;
  margin:0 5px;
  border-radius: 50%;
  display: inline-block;
  background:#ccc;
  font-size:13px;
}

.chatWrap .faq .sns{
  width:300px;
  border-radius: 10px;
  box-sizing: border-box;
  background: #fff;
  padding:10px 15px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px 0px, rgba(0, 0, 0, 0.01) 0px 0px 0px 1px;
  margin-top:20px;
}
.chatWrap .faq .sns ul{

}
.chatWrap .faq .sns ul li{

}
.chatWrap .faq ul li p{
  background: #256ab5;
  display: inline-block;
  padding:5px 8px;
  border-radius: 10px;
  color:#fff;
}
.chatWrap .chatBtn {
  border-radius: 50%;
  background: linear-gradient(130deg, rgb(72, 183, 84) 0%, rgb(72, 183, 84) 50%, rgb(36, 133, 64)) 100% center;
  width: 60px;
  height: 60px;
  display: none;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px 0px, rgba(0, 0, 0, 0.01) 0px 0px 0px 1px;
  cursor: pointer;
  text-align: center;
}
.chatWrap .chatBtn img{
  width:70%;
  display: inline-block;
  margin-top: 6px;
}
.chatWrap .chatBtn.on{
  display: block;
}
.chatWrap .chat {
  width: 340px;
  min-height: 485px;
  box-sizing: border-box;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: rgba(81, 99, 120, 0.3) 0px 6px 60px 0px;
  background: #fff;
}
.chatWrap .chat .chatTop{
  padding: 8px;
  position: relative;
}
.chatWrap .chat .chatTop .background{
  position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 240px;
    background: linear-gradient(130deg, rgb(72, 183, 84) 0%, rgb(72, 183, 84) 50%, rgb(36, 133, 64)) 100% center;
}
.chatWrap .chat .chatTop .background::before{
  content: "";
    display: block;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 100px;
    background: linear-gradient(transparent 0%, rgb(251, 251, 252) 100%);
}

.chatWrap .chat .chatTitle {
  padding: 5px 15px;
  position: relative;
  color: #fff;
}
.chatWrap .chat .chatTitle .help{
  margin-bottom:10px;
}
.chatWrap .chat .chatTitle .help p {
  background: #fff;
  display: inline-block;
  padding:0px 8px;
  border-radius: 3px;
  color:#000;
  font-size:12px;
  transition: all 0.5s;
  cursor: pointer;
}
.chatWrap .chat .chatTitle .help p:hover{
  background:red;
  color:#fff;
}
.chatWrap .chat .chatTitle h4 {
  font-size: 21px;
  margin-bottom:20px;
}
.chatWrap .chat .chatTitle p {
  font-size: 14px;
  line-height: 19px;
}
.chatWrap .chat .chatTitle p.openBtn{
  display: inline-block;
}
.chatWrap .chat .chatTitle p.openBtn:hover{
  font-weight: 600;
  cursor: pointer;
}
.chatWrap .chat .chatTitle .openTime {
  background: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  padding: 10px 15px;
  position: absolute;
  display: none;
  z-index: 1;
}
.chatWrap .chat .chatTitle .openTime p {
  color: #fff;
}
.chatWrap .chat .chatTitle .openTime.on{
  display: block;
}
.chatWrap .chat .chatTitle .basicBtn {
  position: absolute;
  top:0;
  right:0;
}
.chatWrap .chat .chatTitle .basicBtn ul {
}
.chatWrap .chat .chatTitle .basicBtn ul li {
}
.chatWrap .chat .chatTitle .basicBtn ul li .exit {
  font-size:22px;
  margin-right:8px;
  cursor: pointer;
}
.chatWrap .chat .chatTitle .basicBtn ul li .prev{
  display: none;
  font-size:22px;
  margin-right:8px;
  cursor: pointer;
}
.chatWrap .chat .chatTitle .basicBtn ul li div img{
  width:17px;
  vertical-align: middle;
}
.chatWrap .chat .board {
  position: relative;
  margin-bottom:15px;
}
.chatWrap .chat .board.off{
  display: none;
}
.chatWrap .chat .board .chatting.cs{
  padding: 15px 15px;
  position: relative;
}
.chatWrap .chat .board .chatting.cs .imagesBtn{
  position: absolute;
  top:10px;
  right:10px;
  width:50px;
  border: 1px solid #ccc;
  padding:5px;
  cursor: pointer;
  border-radius: 5px;
}
.chatWrap .chat .board .chatting.cs .imagesBtn img{
  width:100%;
  vertical-align: middle;
}
.chatWrap .chat .board .chatting.cs h4{
  font-size:16px;
  margin-bottom:10px;
}
.chatWrap .chat .board .chatting.cs p {
  font-size:14px;
}
.chatWrap .chat .board .chatting {
  background: #fff;
  width:320px;
  margin:0 auto;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px 0px, rgba(0, 0, 0, 0.01) 0px 0px 0px 1px;
  padding-top:15px;
  padding-bottom:20px;
}
.chatWrap .chat .board .chatting .balloon {
  padding:0 8px;
  overflow: hidden;
  transition: all 0.5s;
  cursor: pointer;
  padding: 10px 0;
}
.chatWrap .chat .board .chatting .balloon:hover{
  transition: all 0.5s;
  background: #f8f8f8;
}
.chatWrap .chat .board .chatting .balloon .leftBalloon_01{
  width:62px;
  float: left;
}
.chatWrap .chat .board .chatting .balloon .leftBalloon_02{
  float: left;
}
.chatWrap .chat .board .chatting .rightBallon{
  display: none;
}
.chatWrap .chat .board .chatting .balloon .profile {
  width:62px;
}
.chatWrap .chat .board .chatting .balloon .profile p{
  width:34px;
  height:34px;
  background: url(images/logo.png) no-repeat;
  background-size:100% 100%;
  border:solid 1px #ccc;
  border-radius: 50%;
  font-size:0;
  margin: 0 auto;
}
.chatWrap .chat .board .chatting .balloon .nickname {
  font-size:15px;
  font-weight: bold;
  margin-bottom:8px;
}
.chatWrap .chat .board .chatting .balloon .nickname p {
}
.chatWrap .chat .board .chatting .balloon .contents {
  font-size:13px;
}
.chatWrap .chat .board .chatting .startBtn {
  margin-top:15px;
}
.chatWrap .chat .board .chatting .startBtn button {
  display: block;
  width:150px;
  margin:0 auto;
  height:42px;
  border-radius: 18px;
  background: #256ab5;
  color:#fff;
  font-weight: 600;
  cursor: pointer;
}
.chatWrap .chat .board .prevChatBtn{
  background: linear-gradient(130deg, #999 0%,#777  50%, #555) 100% center;
  color:#fff;
  width:320px;
  margin:10px auto;
  padding:8px 10px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px 0px, rgba(0, 0, 0, 0.01) 0px 0px 0px 1px;
  text-align: center;
  cursor: pointer;
}
.chatWrap .chat .prevChat{
  display: none;
  position: relative;
  max-height:488px;
  overflow-y: scroll;
  background: #f1f1f1;
  margin-bottom:65px;
}
.chatWrap .chat .prevChat ul{
  width:100%;
  padding:10px;
  box-sizing: border-box;
}
.chatWrap .chat .prevChat ul li{
  background: #fff;
  border-radius: 10px;
  position: relative;
  height:60px;
  padding: 10px;
  margin-bottom:8px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px 0px, rgba(0, 0, 0, 0.01) 0px 0px 0px 1px;
  cursor: pointer;
}
.chatWrap .chat .prevChat ul li:last-child{
  margin-bottom: 0;
}
.chatWrap .chat .prevChat ul li img{
  width:60px;
  height:60px;
  background: #000;
  display: inline-block;
  vertical-align: middle;
  margin-right:10px;
  border:1px solid #ccc;
  border-radius: 5px;
}
.chatWrap .chat .prevChat ul li div{
  display: inline-block;
  vertical-align: middle;
}
.chatWrap .chat .prevChat ul li div h4{
  font-size:15px;
}
.chatWrap .chat .prevChat ul li div p{
  font-size:13px;
}
.chatWrap .chat .prevChat ul li span{
  position: absolute;
  top:5px;
  right:10px;
  font-size:12px;
}
.chatWrap .chat .prevChat.on{
  display: block;
}

.chatWrap .chat .csChat{
  display: none;
  width: 100%;
  border-radius: 0;
  box-shadow: inset rgba(0, 0, 0, 0.1) 0px 4px 6px 0px;
}
.chatWrap .chat .csChat.on{
  display: block;
}
.chatWrap .chat .csChat.chatting .balloon .contents.agreeBtn{
  box-sizing: border-box;
  font-size:0;
}
.chatWrap .chat .csChat.chatting .balloon .contents.agreeBtn button{
  width:48.5%;
  display: inline-block;
  background: #fff;
  padding:5px;
  border-radius: 5px;
  box-sizing: border-box;
  cursor: pointer;
  font-weight: bold;
  color:#fff;
}
.chatWrap .chat .csChat.chatting .balloon .contents.agreeBtn button:nth-child(1){
  margin-right:3%;
  background: #256ab5;
}
.chatWrap .chat .csChat.chatting .balloon .contents.agreeBtn button:nth-child(2){
  background: #888;
}
.exitBtn{
  width:20px;
  position: absolute;
  bottom:518px;
  z-index: 1;
  right:12px;
  cursor: pointer;
  display: none;
}
.exitBtn.on{
  display: block;
}
.exitBtn img{
  width:100%;
}




.chatWrap .chat .chatBar{
  padding:0 10px;
  position: relative;
}
.chatWrap .chat .chatBar input{
  display: block;
  width: 88%;
  float: left;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px 0px, rgba(0, 0, 0, 0.1) 0px 0px 0px 1px;
  padding:12px;
  box-sizing: border-box;
  border-radius: 5px;
  font-size:12px;
  margin-bottom:15px;
}
.chatWrap .chat .chatBar div img{
  width:100%;
}
.chatWrap .chat .chatBar .clip{
  width:10%;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px 0px, rgba(0, 0, 0, 0.1) 0px 0px 0px 1px;
  background: #fff;
  border-radius: 5px;
  padding:7px;
  margin-right:2%;
  float: left;
  cursor: pointer;
}
.chatWrap .chat .chatBar .send{
  width:11%;
  height:38px;
  background: #fff;
  position: absolute;
  right:10px;
  top:0;
  cursor: pointer;
}
.chatWrap .chat .chatBar .send img{
  width:21px;
  vertical-align: middle;
}




.chatWrap .chat.on{
  position: relative;
  
}
.chatWrap .chat.on .chatTitle > p{
  display: none;
}
.chatWrap .chat.on .chatTitle h4{
  margin-bottom:0px;
}
.chatWrap .chat.on .chatTitle .basicBtn ul li .exit{
  display: none;
}
.chatWrap .chat.on .chatTitle .basicBtn ul li .prev{
  display: block;
}
.chatWrap .chat.on .board{
  height:488px;
  overflow-y: auto;
  margin-bottom: 65px;
}
.chatWrap .chat.on .board .chatting{
  width:100%;
  height:100%;
  border-radius: 0;
  box-shadow:inset rgba(0, 0, 0, 0.1) 0px 4px 6px 0px;
}
.chatWrap .chat.on .board .chatting.cs{
  display: none;
}
.chatWrap .chat.on .board .chatting .startBtn, .chatWrap .chat.on .board .prevChatBtn{
  display: none;
}
.chatWrap .chat.on .board .chatting .balloon{
  cursor: auto;
  background: #fff;
}
.chatWrap .chat.on .board .chatting .balloon:hover{
  background: #fff;
}
.chatWrap .chat.on .board .chatting .balloon .leftBalloon_01{
  width:32px;
}
.chatWrap .chat.on .board .chatting .balloon .profile{
  width:100%;
}
.chatWrap .chat.on .board .chatting .balloon .profile p{
  width:24px;
  height:24px;
}
.chatWrap .chat.on .board .chatting .balloon .leftBalloon_02 .contents{
  background-color: rgb(238, 241, 244);
    color: rgb(43, 47, 53);
    padding: 10px 12px;
    border-radius: 15px;
    border-top-left-radius: 3px;
    max-width: 230px;
    margin:10px 0;
}
.chatWrap .chat.on .board .chatting .balloon .leftBalloon_02 .contents.loginInfo{
  font-size:13px;
  text-align: center;
}
.chatWrap .chat.on .board .chatting .balloon .leftBalloon_02 .contents.loginInfo p{
  margin-bottom:5px;
}
.chatWrap .chat.on .board .chatting .balloon .leftBalloon_02 .contents.loginInfo input{
  border: 1px solid #ccc;
  padding: 5px;
  margin-bottom:10px;
}
.chatWrap .chat.on .board .chatting .balloon .leftBalloon_02 .contents.loginInfo .radioArea{
  background: #fff;
  border: 1px solid #ccc;
  height:27px;
  line-height: 27px;
  margin-bottom:10px;
}
.chatWrap .chat.on .board .chatting .balloon .leftBalloon_02 .contents.loginInfo .radioArea input{
  vertical-align: middle;
  margin-bottom:3px;
}
.chatWrap .chat.on .board .chatting .balloon .leftBalloon_02 .contents.loginInfo .radioArea input:nth-child(1){
  margin-right:10px;
}
.chatWrap .chat.on .board .chatting .balloon .leftBalloon_02 .contents.loginInfo input{}

.chatWrap .chat.on .board .chatting .rightBallon{
  display: block;
  text-align: right;
  padding: 5px 8px;
  padding-right:12px;
}
.chatWrap .chat.on .board .chatting .rightBallon .contents{
  background-color: #256ab5;
  color: #fff;
  padding: 10px 12px;
  border-radius: 15px;
  border-top-right-radius: 3px;
  max-width: 230px;
  display: inline-block;
  text-align: left;
  font-size: 13px;
}
.chatWrap .chat.on .chatBar{
  position: absolute;
  left:50%;
  margin-left:-170px;
  z-index: 1;
  bottom:0;
}
.chatWrap .chat.on .board .talk.off{
  display: none;
}
.chatWrap .chat.on .board .talk.on{
  display: block;
  padding:0;
}

.chatWrap .chat .prevChat::-webkit-scrollbar {
  width: 8px;
}
.chatWrap .chat .prevChat::-webkit-scrollbar-thumb {
  background-color: #aaa;
  background-clip: padding-box;
  border: 2px solid transparent;
}
.chatWrap .chat .prevChat::-webkit-scrollbar-track {
  background-color: #ddd;
  box-shadow: inset 0px 0px 5px white;
}

.chatWrap .chat.on .board::-webkit-scrollbar {
  width: 8px;
}
.chatWrap .chat.on .board::-webkit-scrollbar-thumb {
  background-color: #aaa;
  background-clip: padding-box;
  border: 2px solid transparent;
}
.chatWrap .chat.on .board::-webkit-scrollbar-track {
  background-color: #ddd;
  box-shadow: inset 0px 0px 5px white;
}

.contents .slick-arrow{
  font-size:0;
}
.contents .slick-arrow::before{
  display: none;
}
.contents .slick-prev,.contents .slick-prev:hover,.contents .slick-prev:focus{
  background: url(images/arrow_left.png);
  background-size:100% 100%;
}
.contents .slick-next,.contents .slick-next:hover,.contents .slick-next:focus{
  background: url(images/arrow_right.png);
  background-size:100% 100%;
}

.info_type_01{
  width:100%;
  background: #fff;
  border-radius: 8px;
  overflow: hidden;
}
.info_type_01 .type_01_01{
  text-align: center;
  background: #1f942c;
  color:#fff;
  padding:8px 0;
  font-size:16px;
}
.info_type_01 .type_01_02{
  padding:10px;
}
.info_type_01 .type_01_03{}
.info_type_01 .type_01_03 ul{
  background: linear-gradient(130deg, rgb(72, 183, 84) 0%, rgb(72, 183, 84) 50%, rgb(36, 133, 64)) 100% center;
  padding:10px 0;
}
.info_type_01 .type_01_03 ul li{
  width:80%;
  margin:8px auto;
  text-align: center;
  
}
.info_type_01 .type_01_03 ul li button{
  width:100%;
  padding:5px;
  cursor: pointer;
  background: #fff;
  font-weight: 500;
}
.info_type_01 .type_01_04{
  text-align: center;
  padding:10px 0;
}
.info_type_01 .type_01_04 a{
  color:#256ab5;
  font-weight: 600;
}

.info_type_02{
  
}
.info_type_02 .slick-track,.slick-list{
  width:230px;
}
.info_type_02 .type_02_01{}
.info_type_02 .type_02_01 ul.type_03{
  width:230px;
  text-align: center;
}
.info_type_02 .type_02_01 ul.type_03 li{
  width:33.333%;
  float: left;
  padding: 3px;
  box-sizing: border-box;
  cursor: pointer;
}
.info_type_02 .type_02_01 ul.type_03 li p{
  background: #fff;
  padding:15px 0;
  font-size:12px;
}

.info_type_02 .type_02_02{
  width:100%;
  background: #fff;
  padding:0 5px;
  box-sizing: border-box;
}
.info_type_02 .type_02_03{
  text-align: center;
  background: #1f942c;
  color:#fff;
  padding:8px 0;
  font-size:16px;
}
.info_type_02 .type_02_04{
  padding:10px;
}
.info_type_02 .type_02_05{

}
.info_type_02 .type_02_05 ul{
  background: linear-gradient(130deg, rgb(72, 183, 84) 0%, rgb(72, 183, 84) 50%, rgb(36, 133, 64)) 100% center;
  padding:10px 0;
}
.info_type_02 .type_02_05 ul li{
  width:80%;
  margin:8px auto;
  text-align: center;
}
.info_type_02 .type_02_05 ul li button{
  width:100%;
  padding:5px;
  cursor: pointer;
  background: #fff;
  font-weight: 500;
}
.contents{

}
.contents.on{
  box-shadow: 0px 0px 0px 1px orange;
}